<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous" />

		<title>Rick and Morty</title>
	</head>
	<body>
		<div class="container my-5">
            <div class="row align-items-center justify-content-center">
                <% result.forEach(rnm => { %>
                    <div class="col-lg-6 mx-lg-0 mx-md-5 col-12 align-items-center justify-content-center">
                        <div class="card mb-3" >
                            <div class="row g-0">
                                <div class="col-4">
                                    <img
                                        src="<%= rnm.image %>"
                                        class="img-fluid rounded-start"
                                        alt="..." />
                                </div>
                                <div class="col-8">
                                    <div class="card-body">
                                        <h3 class="card-title"><%= rnm.name %></h3>
                                        <p><strong>Species: </strong> <%= rnm.species %></p>
                                        <p><strong>Origin: </strong> <%= rnm.origin.name %></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
		</div>

        <%- include('pagination.ejs') %>

		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"></script>
	</body>
</html>
